extends layout

block content
	div.col-sm-6.col-md-offset-3.about
		h1.form-title.col-md-offset-4 关于
		hr
		p <a href='https://github.com/Sidong/MyGitStar'><code>#{title}</code></a> 是一个开源项目，旨在提供个人 <i>Github Star</i> 管理服务，目前部署在 <a href='https://heroku.com'><code>Heroku</code></a> 之上，由 <a href='https://github.com/Sidong' alt='@Sidong'><code>@Sidong</code></a> 维护。
		p 欢迎留下您的建议！
		hr
		section.ds-thread
		script.
			if (window.location.hostname === '#{hostname}') {
				var duoshuoQuery = { short_name: "stone" };
				(function () {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';
				ds.async = true;
				ds.src = 'http://static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
				|| document.getElementsByTagName('body')[0]).appendChild(ds);
				}) ();
			}
			
