extends layout

block content
	div.jumbotron
		h1.lead #{title} !
		h2.lead(style='text-align:center;') 管理你的 Github Star
			if !user
				| ，使用&nbsp;
				a(href='/auth/github').btn.btn-primary Github
				| &nbsp;登录
