extends layout

block content
	form#setting_form.col-sm-6.col-md-offset-2.form-horizontal(method="post", role="form")
		fieldset
			div.form-group
				div.col-sm-8.col-md-offset-4
					h1.form-title.col-md-offset-4 用户设置
			div.form-group
				label.control-label.col-sm-4(for='name') avatar
				div.col-sm-8
					img(src='#{current_user.avatar_url}', width='60')
			div.form-group
				label.control-label.col-sm-4(for='name') 用户名
				div.col-sm-8
					input.form-control.readonly(type='text', name='name', placeholder='', readonly='true', value='#{current_user.name}')
			div.form-group
				label.control-label.col-sm-4(for='github') Github
				div.col-sm-8
					div.input-group
						span.input-group-addon @
						- var githubUsername = current_user.githubUsername ? current_user.githubUsername : '';
						input.form-control.readonly(type='text', name='github', readonly='true', value='#{githubUsername}')
			div.form-group
				label.control-label.col-sm-4(for='weibo') 微博
				div.col-sm-8
					div.input-group
						span.input-group-addon @
						- console.log(user)
						- var weibo = current_user.weibo ? current_user.weibo : '';
						input.form-control(type='text', name='weibo', value='#{weibo}')
			div.form-group
				div.col-sm-8.col-md-offset-4
					button.btn.btn-primary(type='submit') 保存设置
