extends layout

block content
	div.col-sm-6.col-md-offset-3
		fieldset
			div.row.form-group
				div.col-sm-8
					h1.form-title.col-md-offset-4 登入
			div.row.form-group
				div.col-sm-8
					a.btn.btn-primary(href='/auth/github') Github
