extends layout

block content
	//- form.form-horizontal.col-sm-6(method="post", role="form")
	//- 	fieldset
	//- 		div.row.form-group
	//- 			div.col-sm-8.col-md-offset-4
	//- 				h1.form-title.col-md-offset-4 用户登入
	//- 		div.row.form-group
	//- 			label.control-label.col-sm-4(for="name") 用户名
	//- 			div.col-sm-8
	//- 				input#username.form-control(type="text", name="name", placeholder="名字必须由[0-9A-Za-z]组成，长度为3~20")
	//- 		div.row.form-group
	//- 			label.control-label.col-sm-4(for="pass") 密码
	//- 			div.col-sm-8
	//- 				input#password.form-control(type="password", name="pass", placeholder="密码长度为3~20")
	//- 		div.row.form-group
	//- 			div.col-sm-8.col-md-offset-4
	//- 				button.btn.btn-primary(type="submit") 登入
	//- 				a#forgot_pass(href='/search_pass') 忘记密码？
	div.col-sm-6.col-md-offset-3
		fieldset
			div.row.form-group
				div.col-sm-8
					h1.form-title.col-md-offset-4 登录
			div.row.form-group
				div.col-sm-8
					a.btn.btn-primary(href='/auth/github') Github
